.sign_up {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 679px;
  width: 100%;
}

.form_nav {
  height: 83px;
  width: 100%;
}

.login_list {
  cursor: pointer;
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}
.login_list__item {
  background-color: #ededed;
  color: #A4ABC1;
  font-family: "Lato", sans-serif;
  font-size: 17px;
  font-weight: 800;
  line-height: 5.28;
  letter-spacing: 0;
  height: 100%;
  text-align: center;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 50%;
}
.login_list__item:active {
  color: #CF9250;
}

.login_form, .sign_up_form {
  align-items: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.login_form__header, .sign_up_form__header {
  color: #181726;
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-weight: 800;
  line-height: 1.88;
  letter-spacing: 0;
  margin: 37px 0 22px 0;
  text-align: center;
}
.login_form__label_for_input, .sign_up_form__label_for_input {
  color: #181726;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  letter-spacing: 0;
  margin: 0 0 20px 0;
  text-align: left;
  width: 60%;
}
.login_form__input, .sign_up_form__input {
  border-radius: 0;
  border: 1px solid #8B91A6;
  box-sizing: border-box;
  height: 45px;
  margin: 7px 0 0 0;
  padding: 10px;
  width: 100%;
}
.login_form__input--padding, .sign_up_form__input--padding {
  padding-right: 100px;
}
.login_form__sign_up_button, .sign_up_form__sign_up_button {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.57em;
  letter-spacing: 0;
  background: none;
  border: none;
  color: #CF9250;
  right: 150px;
  position: absolute;
  top: 140px;
}
.login_form__sign_up_button:active, .sign_up_form__sign_up_button:active {
  color: #404554;
}
.login_form__login_button, .sign_up_form__login_button {
  border: none;
  background-color: #CF9250;
  color: #fff;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.9;
  letter-spacing: 0;
  text-align: center;
  height: 50px;
  margin-top: 10px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 60%;
  /*&:active {
    border: 3px inset #c48445;
  }*/
}
.login_form__login_button-for_sign_up, .sign_up_form__login_button-for_sign_up {
  margin-bottom: 71px;
}
.login_form__forgot_link, .sign_up_form__forgot_link {
  color: #404554;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  letter-spacing: 0;
  text-align: center;
  margin: 12px 0 65px 0;
  text-decoration: none;
}
.login_form hr, .sign_up_form hr {
  background-color: #E0E2EA;
  border: none;
  color: #E0E2EA;
  height: 1px;
  margin: 37px 0 46px 0;
  position: relative;
  width: 85%;
}
.login_form__or, .sign_up_form__or {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  font-weight: 800;
  line-height: 1.18;
  letter-spacing: 0;
  background-color: #fff;
  left: 50%;
  bottom: 166px;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  width: 90px;
}

.selected {
  color: #181726;
  background-color: #fff;
}

.enable {
  display: flex;
}

.disable {
  display: none;
}

.thank_you {
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  color: #181726;
  display: flex;
  flex-direction: column;
  height: 557px;
  max-width: 679px;
  width: 100%;
}
.thank_you__svg {
  margin: 41px 0 0 0;
}
.thank_you__header {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px;
  letter-spacing: 0;
  margin: 27px 0 22px 0;
}
.thank_you__text {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
}
.thank_you__order {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0;
  margin: 50px 0 30px 0;
}
.thank_you__email_receipt {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  margin: 15px 0 45px 0;
  text-align: center;
  width: 75%;
}
.thank_you__return_button {
  background-color: #CF9250;
  border: none;
  cursor: pointer;
  height: 50px;
  min-width: 220px;
  width: 43%;
}
.thank_you__return_button-link {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0;
  color: #fff;
  text-decoration: none;
}

.size_guide {
  box-sizing: border-box;
  background-color: #F1F2F3;
  height: 830px;
  padding: 20px 47px 20px 50px;
  width: 744px;
}
.size_guide__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;
}
.size_guide__header-text {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0;
  color: #181726;
  margin: 0 auto;
  padding-left: 63px;
  position: relative;
}
.size_guide__header-text:before {
  content: "";
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='22' viewBox='0 0 20 22' fill='none'%3E%3Cpath d='M11.8 8.3H17C18.1 8.3 19 9.2 19 10.3V19C19 20.1 18.1 21 17 21H4.8C4.5 21 4.4 20.8 4.4 20.6V17.3C1.8 16.8 0 15.2 0 13.3V5.1C0 2.8 2.6 1 5.9 1 9.2 1 11.8 2.8 11.8 5.1V8.3ZM11 5.1C11 3.3 8.7 1.8 5.9 1.8 3.1 1.8 0.8 3.3 0.8 5.1 0.8 6.8 3.1 8.3 5.9 8.3 8.7 8.3 11 6.8 11 5.1ZM11 7.1V8.3H9.4C10.1 8 10.6 7.6 11 7.1ZM4.4 16.4V12C4.4 11.7 4.5 11.5 4.8 11.5H17C17.7 11.5 18.2 11 18.2 10.3 18.2 9.6 17.7 9.1 17 9.1H5.9C3.7 9.1 1.8 8.3 0.8 7.1V13.3C0.8 14.8 2.3 16 4.4 16.4ZM18.3 18.9H18.2C18.2 19.6 17.7 20.1 17 20.1H16.5V18.3C16.5 18 16.4 17.9 16.1 17.9 15.9 17.9 15.7 18 15.7 18.3V20.1H14.3V18.3C14.3 18 14.1 17.9 13.9 17.9 13.6 17.9 13.5 18 13.5 18.3V20.1H12V18.3C12 18 11.8 17.9 11.6 17.9 11.3 17.9 11.2 18 11.2 18.3V20.1H9.7V18.3C9.7 18 9.5 17.9 9.3 17.9 9.1 17.9 8.9 18 8.9 18.3V20.1H7.4V18.3C7.4 18 7.3 17.9 7 17.9 6.8 17.9 6.6 18 6.6 18.3V20.1H5.2V17C5.2 17 5.3 16.9 5.3 16.9 5.3 16.9 5.3 16.8 5.2 16.7V12.4H17.1C17.5 12.4 18 12.2 18.3 12V18.9ZM5.9 3.6C4.8 3.6 3.9 4.2 3.9 5.1 3.9 5.9 4.8 6.5 5.9 6.5 7 6.5 7.9 5.9 7.9 5.1 7.9 4.2 7 3.6 5.9 3.6ZM5.9 5.7C5.2 5.7 4.7 5.3 4.7 5.1 4.7 4.7 5.2 4.4 5.9 4.4 6.6 4.4 7.1 4.8 7.1 5.1 7.1 5.4 6.6 5.7 5.9 5.7Z' style='clip-rule:evenodd;fill-rule:evenodd;fill:%23181726'/%3E%3Cpath d='M11.8 8.3H11.6V8.6H11.8V8.3ZM4.4 17.3H4.6V17.1L4.4 17 4.4 17.3ZM11 8.3V8.6H11.3V8.3H11ZM11 7.1H11.3V6.4L10.8 6.9 11 7.1ZM9.4 8.3L9.3 8.1 9.4 8.6V8.3ZM4.4 16.4L4.3 16.7 4.6 16.7V16.4H4.4ZM0.8 7.1L1 6.9 0.5 6.4V7.1H0.8ZM18.2 18.9V18.7H18V18.9H18.2ZM18.3 18.9V19.2H18.5V18.9H18.3ZM16.5 20.1H16.3V20.4H16.5V20.1ZM15.7 20.1V20.4H16V20.1H15.7ZM14.3 20.1H14V20.4H14.3V20.1ZM13.5 20.1V20.4H13.7V20.1H13.5ZM12 20.1H11.7V20.4H12V20.1ZM11.2 20.1V20.4H11.4V20.1H11.2ZM9.7 20.1H9.4V20.4H9.7V20.1ZM8.9 20.1V20.4H9.2V20.1H8.9ZM7.4 20.1H7.2V20.4H7.4V20.1ZM6.6 20.1V20.4H6.9V20.1H6.6ZM5.2 20.1H5V20.4H5.2V20.1ZM5.3 16.9L5.4 17.1 5.5 17V16.9H5.3ZM5.2 16.7H5V16.8L5 16.9 5.2 16.7ZM5.2 12.4V12.1H5V12.4H5.2ZM18.3 12H18.5V11.4L18.1 11.8 18.3 12ZM17 8.1H11.8V8.6H17V8.1ZM19.3 10.3C19.3 9.1 18.3 8.1 17 8.1V8.6C18 8.6 18.8 9.3 18.8 10.3H19.3ZM19.3 19V10.3H18.8V19H19.3ZM17 21.3C18.3 21.3 19.3 20.2 19.3 19H18.8C18.8 20 18 20.8 17 20.8V21.3ZM4.8 21.3H17V20.8H4.8V21.3ZM4.1 20.6C4.1 20.8 4.2 20.9 4.3 21.1 4.4 21.2 4.6 21.3 4.8 21.3V20.8C4.7 20.8 4.7 20.7 4.6 20.7 4.6 20.7 4.6 20.7 4.6 20.6H4.1ZM4.1 17.3V20.6H4.6V17.3H4.1ZM-0.2 13.3C-0.2 15.3 1.7 17 4.3 17.5L4.4 17C1.9 16.5 0.3 15 0.3 13.3H-0.2ZM-0.2 5.1V13.3H0.3V5.1H-0.2ZM5.9 0.8C4.2 0.8 2.7 1.2 1.6 2 0.5 2.8-0.2 3.8-0.2 5.1H0.3C0.3 4 0.8 3.1 1.9 2.4 2.9 1.7 4.3 1.3 5.9 1.3V0.8ZM12.1 5.1C12.1 3.8 11.3 2.8 10.2 2 9.1 1.2 7.6 0.8 5.9 0.8V1.3C7.5 1.3 8.9 1.7 9.9 2.4 11 3.1 11.6 4 11.6 5.1H12.1ZM12.1 8.3V5.1H11.6V8.3H12.1ZM5.9 2.1C7.3 2.1 8.5 2.4 9.4 3 10.3 3.5 10.8 4.3 10.8 5.1H11.3C11.3 4 10.6 3.2 9.7 2.6 8.7 1.9 7.4 1.6 5.9 1.6V2.1ZM1 5.1C1 4.3 1.5 3.5 2.4 3 3.3 2.4 4.5 2.1 5.9 2.1V1.6C4.5 1.6 3.1 1.9 2.2 2.6 1.2 3.2 0.5 4 0.5 5.1H1ZM5.9 8.1C4.5 8.1 3.3 7.7 2.4 7.1 1.5 6.6 1 5.8 1 5.1H0.5C0.5 6.1 1.2 6.9 2.2 7.6 3.1 8.2 4.5 8.6 5.9 8.6V8.1ZM10.8 5.1C10.8 5.8 10.3 6.6 9.4 7.1 8.5 7.7 7.3 8.1 5.9 8.1V8.6C7.4 8.6 8.7 8.2 9.7 7.6 10.6 6.9 11.3 6.1 11.3 5.1H10.8ZM11.3 8.3V7.1H10.8V8.3H11.3ZM9.4 8.6H11V8.1H9.4V8.6ZM10.8 6.9C10.5 7.4 9.9 7.8 9.3 8.1L9.5 8.5C10.2 8.2 10.8 7.8 11.2 7.2L10.8 6.9ZM4.1 12V16.4H4.6V12H4.1ZM4.8 11.3C4.6 11.3 4.4 11.4 4.3 11.5 4.2 11.6 4.1 11.8 4.1 12H4.6C4.6 11.9 4.6 11.9 4.6 11.8 4.7 11.8 4.7 11.8 4.8 11.8V11.3ZM17 11.3H4.8V11.8H17V11.3ZM18 10.3C18 10.9 17.5 11.3 17 11.3V11.8C17.8 11.8 18.5 11.2 18.5 10.3H18ZM17 9.4C17.5 9.4 18 9.8 18 10.3H18.5C18.5 9.5 17.8 8.9 17 8.9V9.4ZM5.9 9.4H17V8.9H5.9V9.4ZM0.6 7.2C1.7 8.5 3.7 9.4 5.9 9.4V8.9C3.8 8.9 2 8.1 1 6.9L0.6 7.2ZM1 13.3V7.1H0.5V13.3H1ZM4.4 16.2C3.4 16 2.5 15.6 2 15 1.4 14.5 1 13.9 1 13.3H0.5C0.5 14.1 1 14.9 1.6 15.4 2.3 16 3.2 16.4 4.3 16.7L4.4 16.2ZM18.2 19.2H18.3V18.7H18.2V19.2ZM17 20.4C17.8 20.4 18.5 19.8 18.5 18.9H18C18 19.5 17.5 19.9 17 19.9V20.4ZM16.5 20.4H17V19.9H16.5V20.4ZM16.3 18.3V20.1H16.8V18.3H16.3ZM16.1 18.1C16.2 18.1 16.2 18.1 16.2 18.2 16.3 18.2 16.3 18.2 16.3 18.3H16.8C16.8 18.1 16.7 17.9 16.6 17.8 16.5 17.7 16.3 17.6 16.1 17.6V18.1ZM16 18.3C16 18.2 16 18.2 16 18.2 16 18.1 16.1 18.1 16.1 18.1V17.6C15.9 17.6 15.8 17.7 15.7 17.8 15.5 17.9 15.5 18.1 15.5 18.3H16ZM16 20.1V18.3H15.5V20.1H16ZM14.3 20.4H15.7V19.9H14.3V20.4ZM14 18.3V20.1H14.5V18.3H14ZM13.9 18.1C13.9 18.1 13.9 18.1 14 18.2 14 18.2 14 18.2 14 18.3H14.5C14.5 18.1 14.4 17.9 14.3 17.8 14.2 17.7 14 17.6 13.9 17.6V18.1ZM13.7 18.3C13.7 18.2 13.7 18.2 13.7 18.2 13.8 18.1 13.8 18.1 13.9 18.1V17.6C13.7 17.6 13.5 17.7 13.4 17.8 13.3 17.9 13.2 18.1 13.2 18.3H13.7ZM13.7 20.1V18.3H13.2V20.1H13.7ZM12 20.4H13.5V19.9H12V20.4ZM11.7 18.3V20.1H12.2V18.3H11.7ZM11.6 18.1C11.6 18.1 11.7 18.1 11.7 18.2 11.7 18.2 11.7 18.2 11.7 18.3H12.2C12.2 18.1 12.2 17.9 12 17.8 11.9 17.7 11.8 17.6 11.6 17.6V18.1ZM11.4 18.3C11.4 18.2 11.4 18.2 11.5 18.2 11.5 18.1 11.5 18.1 11.6 18.1V17.6C11.4 17.6 11.2 17.7 11.1 17.8 11 17.9 10.9 18.1 10.9 18.3H11.4ZM11.4 20.1V18.3H10.9V20.1H11.4ZM9.7 20.4H11.2V19.9H9.7V20.4ZM9.4 18.3V20.1H9.9V18.3H9.4ZM9.3 18.1C9.4 18.1 9.4 18.1 9.4 18.2 9.4 18.2 9.4 18.2 9.4 18.3H9.9C9.9 18.1 9.9 17.9 9.8 17.8 9.6 17.7 9.5 17.6 9.3 17.6V18.1ZM9.2 18.3C9.2 18.2 9.2 18.2 9.2 18.2 9.2 18.1 9.2 18.1 9.3 18.1V17.6C9.1 17.6 9 17.7 8.8 17.8 8.7 17.9 8.7 18.1 8.7 18.3H9.2ZM9.2 20.1V18.3H8.7V20.1H9.2ZM7.4 20.4H8.9V19.9H7.4V20.4ZM7.2 18.3V20.1H7.7V18.3H7.2ZM7 18.1C7.1 18.1 7.1 18.1 7.1 18.2 7.2 18.2 7.2 18.2 7.2 18.3H7.7C7.7 18.1 7.6 17.9 7.5 17.8 7.4 17.7 7.2 17.6 7 17.6V18.1ZM6.9 18.3C6.9 18.2 6.9 18.2 6.9 18.2 6.9 18.1 7 18.1 7 18.1V17.6C6.8 17.6 6.7 17.7 6.6 17.8 6.4 17.9 6.4 18.1 6.4 18.3H6.9ZM6.9 20.1V18.3H6.4V20.1H6.9ZM5.2 20.4H6.6V19.9H5.2V20.4ZM5 17V20.1H5.5V17H5ZM5.3 16.9C5.1 16.8 5.1 16.8 5.1 16.8 5.1 16.8 5.1 16.8 5.1 16.8 5.1 16.8 5.1 16.8 5.1 16.8 5.1 16.8 5.1 16.8 5.1 16.8 5.1 16.8 5.1 16.8 5.1 16.8 5.1 16.8 5.1 16.8 5.1 16.8 5.1 16.8 5.1 16.8 5.1 16.8 5.1 16.8 5.1 16.8 5.1 16.8 5.1 16.8 5.1 16.8 5 16.8 5 16.9 5 16.9 5 17H5.5C5.5 17.1 5.5 17.1 5.5 17.1 5.5 17.1 5.5 17.1 5.5 17.1 5.5 17.1 5.5 17.1 5.5 17.1 5.5 17.1 5.5 17.1 5.5 17.1 5.5 17.1 5.5 17.1 5.4 17.1 5.4 17.1 5.4 17.1 5.4 17.1 5.4 17.1 5.4 17.1 5.4 17.1 5.4 17.1 5.4 17.1 5.4 17.1 5.4 17.1 5.4 17.1 5.4 17.1 5.4 17.1 5.4 17.1 5.4 17.1 5.4 17.1 5.4 17.1 5.3 16.9ZM5 16.9C5 16.9 5 16.9 5 16.9 5 16.9 5 16.9 5 16.9 5 16.9 5 16.9 5 16.9H5.5C5.5 16.9 5.5 16.9 5.5 16.8 5.5 16.7 5.5 16.7 5.5 16.6L5 16.9ZM5 12.4V16.7H5.5V12.4H5ZM17.1 12.1H5.2V12.6H17.1V12.1ZM18.1 11.8C17.9 12 17.5 12.1 17.1 12.1V12.6C17.6 12.6 18.1 12.4 18.4 12.2L18.1 11.8ZM18.5 18.9V12H18V18.9H18.5ZM4.2 5.1C4.2 4.7 4.3 4.5 4.6 4.2 4.9 4 5.4 3.8 5.9 3.8V3.3C5.3 3.3 4.7 3.5 4.3 3.8 3.9 4.1 3.7 4.6 3.7 5.1H4.2ZM5.9 6.3C5.4 6.3 4.9 6.1 4.6 5.9 4.3 5.7 4.2 5.4 4.2 5.1H3.7C3.7 5.6 3.9 6 4.3 6.3 4.7 6.6 5.3 6.8 5.9 6.8V6.3ZM7.7 5.1C7.7 5.4 7.5 5.7 7.2 5.9 6.9 6.1 6.4 6.3 5.9 6.3V6.8C6.5 6.8 7.1 6.6 7.5 6.3 7.9 6 8.2 5.6 8.2 5.1H7.7ZM5.9 3.8C6.4 3.8 6.9 4 7.2 4.2 7.5 4.5 7.7 4.7 7.7 5.1H8.2C8.2 4.6 7.9 4.1 7.5 3.8 7.1 3.5 6.5 3.3 5.9 3.3V3.8ZM4.5 5.1C4.5 5.2 4.5 5.3 4.6 5.4 4.7 5.5 4.8 5.6 4.9 5.7 5.2 5.9 5.5 6 5.9 6V5.5C5.6 5.5 5.4 5.4 5.2 5.3 5.1 5.2 5 5.2 5 5.1 5 5.1 5 5.1 5 5.1H4.5ZM5.9 4.2C5.5 4.2 5.2 4.2 4.9 4.4 4.7 4.5 4.5 4.8 4.5 5.1H5C5 5 5 4.9 5.2 4.8 5.3 4.7 5.6 4.7 5.9 4.7V4.2ZM7.4 5.1C7.4 4.9 7.3 4.8 7.2 4.7 7.1 4.6 7 4.5 6.9 4.4 6.6 4.3 6.3 4.2 5.9 4.2V4.7C6.2 4.7 6.5 4.7 6.6 4.8 6.7 4.9 6.8 4.9 6.8 5 6.9 5 6.9 5.1 6.9 5.1H7.4ZM5.9 6C6.3 6 6.6 5.9 6.9 5.7 7.1 5.6 7.4 5.4 7.4 5.1H6.9C6.9 5.1 6.8 5.2 6.6 5.3 6.5 5.4 6.2 5.5 5.9 5.5V6Z' fill='%23181726'/%3E%3C/svg%3E") no-repeat;
  position: absolute;
  left: 30px;
  top: 5px;
  height: 22px;
  width: 20px;
}
.size_guide__header-text-close-svg:active {
  transform: scale(0.9);
}
.size_guide__header-close {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.size_guide__main, .size_guide__main-figure, .size_guide__main-figure-square, .size_guide__main-figure-rectangle, .size_guide__main-figure-panoramic {
  display: flex;
  justify-content: space-between;
}
.size_guide__main-figure, .size_guide__main-figure-square, .size_guide__main-figure-rectangle, .size_guide__main-figure-panoramic {
  flex-direction: column;
  width: 114px;
}
.size_guide__main-figure-square, .size_guide__main-figure-rectangle, .size_guide__main-figure-panoramic {
  align-items: center;
  cursor: pointer;
  justify-content: center;
  height: 136px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}
.size_guide__main-figure-square-span, .size_guide__main-figure-rectangle-span, .size_guide__main-figure-panoramic-span {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
}
.size_guide__main-figure-square-span {
  margin-top: 6px;
}
.size_guide__main-figure-rectangle-span {
  margin-top: 14px;
}
.size_guide__main-figure-panoramic-span {
  margin-top: 25px;
}
.size_guide__main-sofa {
  background: #fff url("../img/sofa_38.5X38.5.jpg") no-repeat;
  background-position-y: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 408px;
  width: 533px;
}
.size_guide__main-sofa-type_of_canvas_with_size, .matting, .framed_print, .framed {
  box-sizing: border-box;
  margin-bottom: 115px;
  margin-left: 26px;
  height: 225px;
  width: 225px;
  transition: all 0.5s ease-in;
}
.size_guide__line {
  background-color: #5BA2D0;
  border: none;
  color: #5BA2D0;
  height: 6px;
  margin: 14px 0 0 0;
}
.size_guide__nav {
  width: 649px;
}
.size_guide__nav-frame_type-ul, .size_guide__nav-size_select-ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.size_guide__nav-frame_type-ul-li, .size_guide__nav-size_select-ul-li {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  background: #fff;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2%;
  list-style: none;
  height: 55px;
  text-align: center;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 122px;
}
.size_guide__nav-size_select, .size_guide__nav-size_select-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F0DECA;
  height: 80px;
}
.size_guide__nav-size_select-ul {
  justify-content: space-around;
  padding: 0 10px;
  width: 100%;
}
.size_guide__nav-size_select-ul-li {
  height: 41px;
  width: 108px;
}

.tab {
  background: #fff;
}

.item_selected {
  border: 2px solid #CF9250;
  box-shadow: 0 5px 10px 0 #0000001B;
  position: relative;
}
.item_selected:before {
  content: "";
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='9' viewBox='0 0 20 9' fill='none'%3E%3Cpath d='M10 9L0.8 0.7 19.2 0.7 10 9Z' fill='%23CF9250'/%3E%3C/svg%3E") no-repeat;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  height: 9px;
  width: 20px;
}

.size_selected {
  border: 2px solid #CF9250;
  box-shadow: 0 5px 10px 0 #0000001B;
}

.canvas {
  background-color: #F4F4F4;
  border: 2px solid #ededed;
  box-sizing: border-box;
  box-shadow: 2px 3px 1px #ACB2B2;
  height: 100%;
  width: 100%;
}

.piece {
  display: flex;
  justify-content: center;
  border: none;
  background: none;
  box-sizing: border-box;
  margin-bottom: 115px;
  margin-left: 26px;
  transition: all 0.5s ease-in;
}
.piece-item {
  background-color: #F4F4F4;
  border: 2px solid #ededed;
  width: 100%;
  box-shadow: 2px 2px 2px #ACB2B2;
  box-sizing: border-box;
}
.piece-item--margin {
  margin: 0 5% 0 5%;
}

.shadow {
  display: flex;
  -webkit-box-shadow: 2px 8px 6px -6px black;
  -moz-box-shadow: 2px 8px 6px -6px black;
  box-shadow: 2px 8px 6px -6px black;
  height: 100%;
  width: 24%;
}

.shadow_for_canvas {
  -webkit-box-shadow: 2px 11px 6px -6px #181726;
  -moz-box-shadow: 2px 11px 6px -6px #181726;
  box-shadow: 2px 11px 6px -6px #181726;
}

.framed {
  -webkit-box-shadow: 2px 8px 6px -6px black;
  -moz-box-shadow: 2px 8px 6px -6px black;
  box-shadow: 2px 8px 6px -6px black;
  background-color: #F4F4F4;
  border: 4px solid gray;
}

.framed-canvas {
  box-sizing: border-box;
  border: 3px solid #656565;
  /*border-top: 2px solid black;
  border-right: 3px solid black;
  border-bottom: 4px solid black;
  border-left: 3px solid black;*/
  height: 100%;
  width: 100%;
}

.framed_print {
  -webkit-box-shadow: 2px 8px 6px -6px black;
  -moz-box-shadow: 2px 8px 6px -6px black;
  box-shadow: 2px 8px 6px -6px black;
  border: 7px solid #181726;
  background-color: #B4B4B4;
}

.matting {
  -webkit-box-shadow: 2px 8px 6px -6px black;
  -moz-box-shadow: 2px 8px 6px -6px black;
  box-shadow: 2px 8px 6px -6px black;
  background-color: #B4B4B4;
  display: flex;
}

.outer_frame, .inner_frame {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 7px solid #181726;
}

.inner_frame {
  width: 100%;
  border: 5px solid white;
  height: 100%;
}

.inner-canvas {
  border: 2px solid grey;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=login_form.css.map */
